.form-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transform: scale(1.2);
  transition: all 0.3s ease-out;
  overflow-y: scroll;

  @media screen and (min-width: 1140px) {
    overflow-y: hidden;
  }

  &--visible {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
}
